<html>
    <head>
      <meta http-equiv="refresh" content="5">
      <title>stockoc</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <!--<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>-->
    </head>
    <body>

    <div id="wrapper">
        <div class="top_block">
            <h1>stockoc</h1><img src="{{ url_for('static', filename='img/octopus.jpg') }}">
    
            <form action="/process_money" method="post">
	        <label for="gold">research a stock: </label>
                <input type="text" name="stock" placeholder="enter stock symbol here"/>
                <input type="submit" name="submit" value="submit"/>
            </form>
	</div>
        <div class="middle_block">
            <div class="middle_block_tile">
	    </div>
	</div>
        <div class="bottom_block">
        {% for num in ticker_list %}
	    <div class="ticker_block">{{num}}</div>
        {% endfor %}
	</div>

    </div>

    </body>
</html>
